.share-on-diaspora {
    float: left;
    padding: 20px;
}

.share-on-diaspora img {
    vertical-align: middle;
    padding-right: 3px;
}

.share-on-diaspora {
    color: #312D38;
    font-size: 12px;
}

.share-on-diaspora {
    cursor: pointer;
}
